*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
  background-color: green;
  color: white;
  font-size: 16px;
}

h1 {
	font-size: 50px;
}

table{
	width: 100%;
	border-collapse: collapse;
}
td,th{
	align-self: center;
	border: 1px solid white;
	text-align: center;
	height: 52px;
}

.td-block{
	min-width: 120px;
}
.td255{
	width: 255px;
}
.td-head{
	width: 100%;
}
button, input[type=submit]{
	padding: 10px 20px;
	cursor: pointer;
}

input {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.form{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 40px;
    margin-top: 150px;
    border-radius: 5px;
}

.form h2{
	margin-top: 10px;
	margin-bottom: 20px;
}

.error{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
    margin-top: 20px;
    background: #fff;
    color: red;
    border-radius: 5px;
}

.dashboard{
	display: flex;
}
.dashboard .side{
    /*width: 250px;*/
    text-align: center;
    padding: 20px;
}
.dashboard .side .logo{
	margin: 20px 0;
}
.dashboard .side .logout{
	margin: 20px 0;
}
.dashboard .side .logout a{
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
}